* {
    margin: 0%;
}

main {
  display: flex;
  flex-wrap: wrap;
  font-family:'PT Sans Narrow', sans-serif;
        
}

.header {
    color :white;
    height: 100%;
    background-color: cornflowerblue;
    flex: 0 0 100%;
    text-align: center;
    position: sticky;
    top: 0;
}


section {
    display: flex;
    flex-wrap: wrap;
    width : 100%;
}

section > header {
    height: 2%;
    background-color: rgb(70, 76, 78);
    flex: 0 0 100%;
    order: 1;
    position: sticky;
    top : 93px;
}

section > header > ul {
    color :white;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding-left: 0%;
    align-items: center;
    height : 100%;
}


article {
    height : 1800px;
    flex: 0 0 60%;
    order : 2;
    background-color:rgb(97, 58, 0);
    padding: 1%;
}

article > p {
    color: beige;
}

article ul ul li {
    color : white;
}

.beige {
    color : beige;
}

article ul ul p {
    color : white;
}

aside {
    flex: 0 0 36%;
    /* a changer mettre taille fixe en fonction de larticle */
    height : 1800px;
    order : 3;
    background-color: beige;
    color: black;
    padding: 1% 1% 1% 1%;
}

aside ul{
    list-style-type: none;
}

aside ul li{
    margin-top: 3%;
}

footer {
    height : 310px;
    width: 100%;
    flex: 0 0 100%;
    order : 4;
    background-color: rgb(70, 76, 78);
    color: white;
    text-align: center;
    position: relative; 
    bottom: 0%;
}

footer p {
    color: antiquewhite;
}

progress{
    background-color: silver;
    border-radius: 5px;
    height: 5px;
}

progress::-webkit-progress-bar{
    background-color:silver;
    border-radius: 5px;
}

progress::-webkit-progress-value{
    background-color:cornflowerblue;
    border-radius: 5px;
}

progress::-moz-progress-bar{
    background-color:cornflowerblue;
    border-radius: 5px;
}

p {
    color: black;
}

@media screen and (max-width:600px) {
    .header {
        height: 100px;
        background-color: rgb(0, 140, 255);
        flex: 0 0 100%;
        text-align: center;
       position: sticky;
        top : 0;
    }
    
    section {
        display: flex;
        flex-wrap: wrap;
        width : 100%
    }
    
    section > header > ul {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        padding-left: 0%;
        align-items: center;
        height : 100%;
        font-family:'PT Sans Narrow', sans-serif;
    }
    

    section > header {
        height: 2%;
        background-color: rgb(70, 76, 78);
        flex: 0 0 100%;
        order: 1;
        position: sticky;
        top : 100px;
    }
    
    article {
        height: 1400px;
        flex: 0 0 100%;
        order : 3;
        background-color:rgb(97, 58, 0);
    }
    
    aside {
        flex: 0 0 96%;
        height : 1750px;
        order : 2;
        background-color: beige;
        padding: 3% 2% 2% 2%;
    }

    
    footer {
        height : 270px;
        flex: 0 0 100%;
        order : 4;
        background-color: rgb(70, 76, 78);
        color: white;
        text-align: center;
        position: relative; 
        bottom: 0%;
    }

    footer p {
        color: antiquewhite;
    }

    
    
}